[submodule "symfony/console"]
	path = symfony/console
	url = https://github.com/symfony/Console.git
[submodule "doctrine/annotations"]
	path = doctrine/annotations
	url = https://github.com/doctrine/annotations.git
[submodule "doctrine/cache"]
	path = doctrine/cache
	url = https://github.com/doctrine/cache.git
[submodule "doctrine/collections"]
	path = doctrine/collections
	url = https://github.com/doctrine/collections.git
[submodule "doctrine/common"]
	path = doctrine/common
	url = https://github.com/doctrine/common.git
[submodule "doctrine/dbal"]
	path = doctrine/dbal
	url = https://github.com/doctrine/dbal.git
[submodule "doctrine/inflector"]
	path = doctrine/inflector
	url = https://github.com/doctrine/inflector.git
[submodule "doctrine/instantiator"]
	path = doctrine/instantiator
	url = https://github.com/doctrine/instantiator.git
[submodule "doctrine/lexer"]
	path = doctrine/lexer
	url = https://github.com/doctrine/lexer.git
[submodule "doctrine/orm"]
	path = doctrine/orm
	url = https://github.com/doctrine/doctrine2.git
